@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: poppins, Nunito, "Gill Sans", "Gill Sans MT", Calibri,
        "Trebuchet MS", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

*,
pre {
    box-sizing: border-box;
    font-family: poppins, Nunito, "Gill Sans", "Gill Sans MT", Calibri,
        "Trebuchet MS", sans-serif !important;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    scroll-behavior: smooth;
}
.nav-menu > li {
    font-weight: 500;
    font-size: 0.9em;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    right: 0%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 10%;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 100%;
    border: 5px solid #fafafa;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    right: 5%;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.175);
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -25px;
    background-color: #5355e0;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}
.badge-info {
    height: fit-content !important;
    font-weight: 500 !important;
    padding: 2% !important;
    background: gainsboro !important;
    color: rgb(51, 51, 51) !important;
}
.badge {
    border-radius: 5px !important;
}
.social-badge{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  padding:5%;
  cursor: pointer;
  background: #070707b4;
  
  box-shadow:0px 5px 50px rgb(0, 0, 0)
 
}
.social-badge > img{
  width:1.5em
}